<script>
    <%if(paymentMade){%>
        var paymentMade = true;
    <%} else{%>
        var paymentMade = false;
    <%}%>
</script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CSC CA2</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
			<li class="nav-item">
                <a class="nav-link" href="/talents">Talents <span class="sr-only">(current)</span></a>
            </li>
            <% if(user){%>
                <li class="nav-item">
                    <a class="nav-link" href="/upload">Upload</a>
                </li>
                <li class="nav-item">
                    <a href="/logout"><button class="btn btn-primary btn-user">Logout</button></a>
                </li>
                <% if(user.role == 0){%>
                    <li style="padding-left:1rem;" class="nav-item">
                        <a href="/payment"><button class="btn btn-danger btn-user">Upgrade Account</button></a>
                    </li>
                <%} else{%>
                    <li style="padding-left:1rem;" class="nav-item">
                        <form method="POST" action="/cancelSubscription">
                            <button class="btn btn-danger btn-user">Cancel Subscription</button>
                        </form>
                    </li>
                <%}%>
            <%} else{%>
                <li class="nav-item">
                    <a href="/login"><button class="btn btn-primary btn-user">Login</button></a>
                </li>
            <%}%>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <%if(user){%>
                <h5>Welcome <%= user.username %> </h5>
            <%} else{%>
                <h5>The Life Time Talents</h5>
            <%}%>
        </form>
    </div>
</nav>
<table class="loaderWrapper">
    <tr>
        <td><img src="img/loading.gif" alt="" /></td>
    </tr>
</table>